@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="tituloPagina">Bem - Vindo! </h1>
    <p>Aprenda um pouco sobre pokemons!<p>
    <p>
        Você sabia que, em termos biológicos de Pokémon, o Vaporeon é o Pokémon mais compatível para humanos? Eles não estão apenas no mesmo grupo de ovos,
        que é principalmente composto de mamíferos, mas os Vaporeons têm em média 1 metro de altura e pesam 29 quilogramas.
        Isso significa que eles são grandes o suficiente para serem capazes de lidar com humanos, e com sua Estatísticas básicas
        para HP e acesso a Acid Armor, você pode ser duro com um.
    </p>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/576be3f4-2403-43c7-a7e5-a8fb75cb90f9/dcxqssy-c22f35bf-0830-48f5-8f4e-9ea3b2606fbf.png/v1/fill/w_949,h_842,q_70,strp/vaporeon_redraw__by_natx_chan_dcxqssy-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcxOCIsInBhdGgiOiJcL2ZcLzU3NmJlM2Y0LTI0MDMtNDNjNy1hN2U1LWE4ZmI3NWNiOTBmOVwvZGN4cXNzeS1jMjJmMzViZi0wODMwLTQ4ZjUtOGY0ZS05ZWEzYjI2MDZmYmYucG5nIiwid2lkdGgiOiI8PTE5MzgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.wGjD1Qvl2aoJDWD8v123JHUmVayF4x2cdtBsKwsZRfk" style="border-radius:150px" width="200" height="200" />
</div>
