@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="tituloPagina">Bem - Vindo!</h1>
    <p>Aprenda um pouco sobre <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
